*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  padding-top: 2em;
  height: 1000px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.container {
}

html,
body {
  overflow: hidden;
  margin: 0;
  min-height: 100vh;
  text-align: left;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: aqua;
  background-color: #34495e;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.board-container {
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}
